doctype html
html
  head
    title Littoral demo server.
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body(style="background-color: #FCF7FF")
    .jumbotron(style="background-image: url(/images/littoral.jpg); background-size: 100%; color: #E2DAE8")
      .container
        h1 Littoral
        p A self contained, modular showcase server.
    .container-fluid
      .row
        .col-lg-12
          h3 Rendering Jade based on index file in default view.
    .container-fluid
      .row
        .col-lg-12
          h3 #{apps.length} Demos:
          .arrange
            each app in apps
              .demo(class="#{app.extraClass}")
                .demoHolder
                  if app.teaserImage
                    a.thumbnail(href=app.basePath)
                      img(src=app.teaserImage, alt='...')
                  .caption
                    h3
                      a(href=app.basePath) #{app.name}
                    p= app.description

    include scripts


