mixin jumbotron(title, subTitle, imgUrl)
  if imgUrl
    .jumbotron(style="background-image:url(#{imgUrl})")
      .container
        h1 #{title}
        p #{subTitle}
  else
    .jumbotron
      .container
        h1 #{title}
        p #{subTitle}

mixin page-header(title, subTitle, imgUrl)
  if imgUrl
    .page-header(style="background-image:url(#{imgUrl})")
      .container-fluid
        a(href=app.parentPath) Back to parent
        h1 #{title}&nbsp;
          small #{subTitle}
  else
    .page-header
      .container-fluid
        a(href=app.parentPath) Back to parent
        h1 #{title}&nbsp;
          small #{subTitle}

mixin demoBox(name, description, basePath, teaserImage, extraClass)
  .demo(class="#{extraClass}")
    .demoHolder
      if teaserImage
          a.thumbnail(href=basePath)
            img(src=teaserImage, alt='Teaser Image')
          h3
            a(href=basePath) #{name}
          p !{description}
      else
        h3
          a(href=basePath) #{name}
        p !{description}

mixin debug()
  pre Current page variables:
    if app
      pre app:
        pre
          each a, k in app
            if k === 'subApplications'
              code #{k}: #{a.length}
              br/
              each v, b in a
                code &nbsp&nbsp;#{b}:
                br/
                code &nbsp&nbsp;&nbsp&nbsp;name: #{v.name}
                br/
                code &nbsp&nbsp;&nbsp&nbsp;absolutePath: #{v.absolutePath}
                br/
            else
              code #{k}: #{a}
              br/
    if apps
      pre apps:
        each app in apps
          pre
            each v, k in app
              code #{k}: #{v}
              br/
    if site
      pre site:
        pre
          each v, k in site
            code #{k}: #{v}
            br/